a, a:hover {
  text-decoration: none;
  color: inherit;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

select {
    float : right;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.names {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
}

.details{
    color:white;
}
